<div class="container">

  <div class="row">
    <div class="col-md-1">
      <img src="<%= tweet['user_image'].html_safe %>"/>
    </div>
    <div class="col-md-3">
      <%= tweet['user_name'].html_safe %>
      <span style="color: gray;">
        @<%= tweet['user_id'].html_safe %>
      </span>
    </div>
    <div class="col-md-2">
      <%= tweet['date'].html_safe %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <%= tweet['tweet_text'].html_safe %>
      <a href="https://twitter.com/<%= tweet['user_id'] %>/status/<%= tweet['id'] %>">
        <span class="glyphicon glyphicon-new-window"></span>
      </a>
    </div>
  </div>

  <% if tweet['media'] %>
    <div class="row">
      <div class="col-md-1"></div>
      <% tweet['media'].each do |m| %>
        <div class="col-md-2 well">
          <a href="<%= m %>"><img src="<%= m %>" class="img-responsive"/></a>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
